In [1]:
import requests
import pandas as pd

%matplotlib inline

%store -r WORKDIR

if 'WORKDIR' not in dir():
    WORKDIR = 'C:/Users/Paulo/Desktop/infnet-projeto-final/mit_data_science/'

urls = ["https://data.cityofnewyork.us/resource/t29m-gskq.json", #2018
        "https://data.cityofnewyork.us/resource/biws-g3hs.json", #2017
        "https://data.cityofnewyork.us/resource/uacg-pexx.json", #2016
        "https://data.cityofnewyork.us/resource/2yzn-sicd.json", #2015
        "https://data.cityofnewyork.us/resource/gkne-dk5s.json", #2014
        "https://data.cityofnewyork.us/resource/t7ny-aygi.json", #2013
        "https://data.cityofnewyork.us/resource/kerk-3eby.json", #2012
        "https://data.cityofnewyork.us/resource/uwyp-dntv.json"  #2011
]

data_raw_file = WORKDIR + '/Data/Raw/nyctaxi_data_collect_yellow.parquet'

# Carga de Dados para o Desenvolvimento

In [2]:
data = pd.DataFrame()

for x in urls:
    obj = requests.get(x).json()
    data = pd.concat([data,pd.DataFrame.from_dict(obj)], ignore_index=True, sort = True)

data.head()

,dolocationid,dropoff_datetime,dropoff_latitude,dropoff_location,dropoff_longitude,extra,fare_amount,imp_surcharge,improvement_surcharge,mta_tax,...,ratecodeid,store_and_fwd_flag,tip_amount,tolls_amount,total_amount,tpep_dropoff_datetime,tpep_pickup_datetime,trip_distance,vendor_id,vendorid
0,236,NaN,NaN,NaN,NaN,0,10,NaN,0.3,0.5,...,1,N,0,0,10.8,2084-11-04T12:47:41.000,2084-11-04T12:32:24.000,1.34,NaN,2
1,236,NaN,NaN,NaN,NaN,0,10,NaN,0.3,0.5,...,1,N,0,0,10.8,2084-11-04T12:47:41.000,2084-11-04T12:32:24.000,1.34,NaN,2
2,238,NaN,NaN,NaN,NaN,0,4,NaN,0.3,0.5,...,1,N,0,0,4.8,2084-11-04T12:29:00.000,2084-11-04T12:25:53.000,0.32,NaN,2
3,238,NaN,NaN,NaN,NaN,0,4,NaN,0.3,0.5,...,1,N,0,0,4.8,2084-11-04T12:29:00.000,2084-11-04T12:25:53.000,0.32,NaN,2
4,238,NaN,NaN,NaN,NaN,0,10,NaN,0.3,0.5,...,1,N,0,0,10.8,2084-11-04T12:22:24.000,2084-11-04T12:08:33.000,1.85,NaN,2

* Tive que dropar essas colunas aqui pois estava dando um erro quando tentava subir o parquet no data_prep.

erro: ArrowInvalid: Mix of struct and list types not yet supported

In [3]:
data.columns

Index(['dolocationid', 'dropoff_datetime', 'dropoff_latitude',
       'dropoff_location', 'dropoff_longitude', 'extra', 'fare_amount',
       'imp_surcharge', 'improvement_surcharge', 'mta_tax', 'passenger_count',
       'payment_type', 'pickup_datetime', 'pickup_latitude', 'pickup_location',
       'pickup_longitude', 'pulocationid', 'rate_code', 'ratecodeid',
       'store_and_fwd_flag', 'tip_amount', 'tolls_amount', 'total_amount',
       'tpep_dropoff_datetime', 'tpep_pickup_datetime', 'trip_distance',
       'vendor_id', 'vendorid'],
      dtype='object')

In [4]:
data.drop(['dolocationid','dropoff_location', 'extra','imp_surcharge',
           'improvement_surcharge','mta_tax','payment_type','pickup_location',
           'pulocationid','rate_code','ratecodeid','store_and_fwd_flag','tip_amount',
           'tolls_amount','total_amount', 'vendor_id', 'vendorid','trip_distance'], axis = 1, inplace = True)

# Export Data

In [5]:
data.to_parquet(data_raw_file)